<%- include("../partials/header", { pageTitle }) %>

<section>
  <h1>Memo List</h1>

  <ul class="tilesWrap">
    <% memos.forEach((memo) => { %>
    <li>
      <h2><%= memo.category %></h2>
      <h3>Title: <%= memo.title %></h3>
      <p>Content: <%= memo.content %></p>

      <!-- Button to edit a memo -->
      <form class="memoList-form" method="get" action="/memos/<%= memo.id %>">
        <button>View</button>
      </form>

      <!-- Button to delete a memo -->
      <form
        class="memoList-form"
        method="post"
        action="/memos/<%= memo.id %>?_method=DELETE"
      >
        <button
          onclick="return confirm('Are you sure you want to delete this memo?')"
        >
          Delete
        </button>
      </form>
    </li>
    <% }); %>
  </ul>
</section>

<%- include("../partials/footer") %>
