<%- include("../partials/header", { pageTitle }) %>

<section class="detail-section">
  <h1>Memo Details</h1>
  <div class="detail-container">
    <div class="detail-innerbox">
      <span>Title:</span>
      <p><%= memo.title %></p>
      <span>Category:</span>
      <p><%= memo.category %></p>
      <span>Content:</span>
      <p><%= memo.content %></p>
      <div class="detail-btn">
        <a href="/memos" class="button">Back</a>
        <a href="/memos/<%= memo.id %>/edit" class="button">Edit</a>
      </div>
    </div>
  </div>
</section>
<%- include("../partials/footer") %>
